.company {
  border: 2px solid #393838;
  border-radius: 30px;
  margin-bottom: 1em;
  padding: 0.75em 1.5em;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
}

.rating {
  display: flex;
  flex-direction: column;
}

.reviews {
  margin-bottom: 0.75em;
}
