.company {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
}

.rating {
  display: flex;
  flex-direction: column;
}
