.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
  max-width: 200px;
}

.rating {
  display: flex;
  flex-direction: column;
  min-width: 80px;
}
