.top {
  display: flex;
  justify-content: space-between;
}

.review {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em 1em;
  margin: 1em 0 0;
}

.author {
  font-weight: 700;
}

.content {
  font-size: 0.9em;
  margin-top: 0.25em;
}
