.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: baseline;
}

.review {
  background: #454545;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em 1em;
  margin: 1em 0 0;
}

.date {
  font-size: 0.6em;
  margin-left: 1em;
}

.author {
  font-weight: 700;
}

.content {
  font-size: 0.9em;
  margin-top: 0.25em;
}
