.summary {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 0.75em;
  margin-top: 0.3em;
  text-align: right;
}

.text {
  margin-right: 0.5em;
}

.caret {
  cursor: pointer;
  font-size: 1.6em;
}

.caret svg {
  display: block;
}
