.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8c5d2e;
  border-radius: 20px;
  padding: 0.2em;
  text-align: center;
}

.icon svg {
  display: block;
  height: 30px;
  width: 30px;
  margin-right: 0.5em;
}

.selected {
  background: #8c5d2e;
}
